---
import "../../styles/footer.css";
import { Picture } from "astro:assets";
import PortableTextCustom from "../ui/portableText/PortableTextCustom";
import { getDataCompany } from "../../_data/company";
import type { Company } from "../../_types/company";

const dataCompany: Company = await getDataCompany();
---

<footer id="footer">
  <div class="column__1">
    <PortableTextCustom
      data={dataCompany.contact.portableText}
      client:only="react"
    />
  </div>
  <div class="column__2">
    <div class="col__left">
      <p><strong>Contacto:</strong></p>
      <a href={`tel: ${dataCompany.contact.tel}`}>{dataCompany.contact.tel}</a>
      <a href={`mailto: ${dataCompany.contact.email}`}
        >{dataCompany.contact.email}</a
      >
      <a href="{dataCompany.contact.dirLink}">{dataCompany.contact.dir}</a>
      <p><strong>Sociales:</strong></p>
      {
        dataCompany.contact.social.map(
          (social: { url: string | URL | null | undefined; name: unknown }) => (
            <a href={social.url}>{social.name}</a>
          )
        )
      }
      <a href="/">
        <Picture
          class="img"
          src={dataCompany.contact.img.media.url}
          alt={dataCompany.contact.img.alt.altText}
          formats={["webp", "avif", "svg"]}
          fallbackFormat="svg"
          inferSize={true}
          quality={"high"}
          densities={[1.5, 2]}
        />
      </a>
      <a href={`/aviso-de-privacidad`}>Aviso de Privacidad</a>
    </div>
    <div class="col__right"></div>
  </div>
  <span class="footer__copy">
    ©{dataCompany.name} - Todos los derechos reservados | web creada por <a
      href="https://marker.com.mx/">Marker branding</a
    >
  </span>
</footer>
